*{


  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  min-height: 100vh;
  background: black;
}
.container{
  position: relative;
  width:100%;
  height: 100vh;
  overflow: hidden;
}
.bubbles{
  position: relative;
  display: flex;
}
.bubbles span
{
  position: relative;
  width: 30px;
  height: 30px;
  background: cyan;
  margin: 0 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px indigo,
  0 0 50px blue,
  0 0 100px blue;
  animation: animate 15s linear infinite;
  animation-duration: calc(10s / var(--i));
}
.bubbles span:nth-child(even)
{
  background: pink;
  box-shadow: 0 0 0 10px indigo,
  0 0 50px pink,
  0 0 100px pink;
}
@keyframes animate
{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}